<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_penguin_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{256,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>baby_penguin_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{256,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>baby_penguin_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{256,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>baby_penguin_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{256,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{256,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>baby_penguin_laugh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{288,416}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{288,416}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>baby_penguin_laugh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,424},{288,408}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{288,408}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>penguin_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,424},{232,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,464}}</string>
                <key>sourceSize</key>
                <string>{232,464}</string>
            </dict>
            <key>penguin_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{232,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,464}}</string>
                <key>sourceSize</key>
                <string>{232,464}</string>
            </dict>
            <key>penguin_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,424},{232,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,464}}</string>
                <key>sourceSize</key>
                <string>{232,464}</string>
            </dict>
            <key>penguin_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,888},{232,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,464}}</string>
                <key>sourceSize</key>
                <string>{232,464}</string>
            </dict>
            <key>penguin_laugh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,888},{232,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,456}}</string>
                <key>sourceSize</key>
                <string>{232,456}</string>
            </dict>
            <key>penguin_laugh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,888},{296,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,448}}</string>
                <key>sourceSize</key>
                <string>{296,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>penguin.png</string>
        </dict>
    </dict>
</plist>
